* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1D2735;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    /* overflow: hidden; */
}

.main .signin {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    z-index: 5;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
    border-radius: 5px;
}

.signin :first-child {
    font-size: 26px;
    font-weight: bolder;
    color: #A6ADBA;
}

.signin :nth-child(2) {
    font-weight: bold;
    background-color: #6419E6;
    padding: 0.8rem 0.7rem;
    border-radius: 10px;
    border: none;
    color: white;
}

.buynow {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #A6ADBA;
}

.buynow button {
    background-color: #6419E6;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buynow h1{
    font-size: 55px;
    text-align: center;
}

.buynow p {
    text-align: center;
    line-height: 1.6rem;
    font-size: 18px;
}

.phone-img {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 30%;
    width: 100%;
    margin-top: 10rem;
}

.phone-img :nth-child(2) {
    top: -7rem;
    position: absolute;
}

@media screen and (max-width: 845px) {   

    .phone-img img{
        width: 300px;
    }

    .phone-img :nth-child(2) {
        top: -4rem;
        position: absolute;
    }
}

@media screen and (max-width: 768px) {
    .phone-img :nth-child(2) {
        top: -3rem;
        position: absolute;
    }

    .buynow h1{
        font-size: 45px;
        text-align: center;
    }
    .phone-img img{
        width: 250px !important;
    }
}

@media screen and (max-width: 620px) {
    .phone-img :nth-child(2) {
        top: -1.5rem;
        position: absolute;
    }
    .phone-img img{
        width: 189px !important;
    }
}
@media screen and (max-width: 493px) {

    .phone-img :nth-child(2) {
        top: -1.2rem;
        position: absolute;
    }
    .phone-img img {
        width: 130px !important;
    }
    .query .search input {
        padding: 0.8rem 0.7rem !important;
    }
    .main {
        overflow: hidden;
    }
}

.query {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

.query h1 {
    color: #A6ADBA;
}

.query .search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.query .search input {
    padding: 1rem 1.8rem;
    border-radius: 5px;
    border: none;
}

.query .search button {
    padding: 1rem 1.8rem;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #6419E6;
    font-weight: bold;
}

.search-anim {
    display: none;
    flex-direction: column;
    align-items: center;
}

.search-anim h4 {
    color: #A6ADBA;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        background-color: #1D232A;
        border-radius: 50%;
    }

    25% {
        transform: rotate(90deg);
        background-color: #DC2626;
        border-radius: 25%;
    }

    50% {
        transform: rotate(180deg);
        background-color: #6419E6;
        border-radius: 0%;
    }
    75% {
        transform: rotate(270deg);
        background-color: #27579e;
        border-radius: 25%;
    }
    100% {
        transform: rotate(360deg);
        background-color: #A6ADBA;
        border-radius: 50%;
    }
}

.search-anim #round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6419E6;
    animation: rotate 1s linear forwards infinite;
}

#round span {
    display: inline-block;
    width: 90%;
    height: 90%;
    background-color: #1D2735;
}

.results {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
    margin-top: 1.5rem;
}

.results .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 19rem;
    color: #A6ADBA;
    box-shadow:  0 20px 25px -5px rgb(0,0,0,0.1);
    border-radius: 5px;
    padding: 3rem 2rem;
}

.results img {
    border-radius: 5px;
}

.results .mobile p {
    text-align: center;
    line-height: 1.5rem;
    line-break: strict;
}

.results .mobile button,#showmore, .details button{
    padding: 1rem;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #6419E6;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #0D6EFD0D;
    padding: 5rem 0px;
    margin-top: 4rem;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    color: #A6ADBA;
    overflow: hidden;
}

footer img {
    width: 50px;
    height:  50px;
}

.icons {
    margin-top: 1rem;
    font-size: 1.5rem;
}

button:hover {
    background-color: #27579e !important;
    cursor: pointer;
}

.mobile-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: position 1s ease;
}

.details p {
    text-align: center;
    line-height: 1.6rem;
}

 .details {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #A6ADBA;
    padding: 1rem 3rem;
    background-color: #1D232A;
    width: 55%;
    height: 30rem;
    overflow: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.details button {
    background-color: #DC2626;
}

.details button:hover {
    transition: background-color 0.5s ease;
    background-color: #1D2735 !important; ;
}

#modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    z-index: 3;
}

#overlay {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

@media screen and (max-width: 678px) {
    .details {
        height: 20rem;
    }
}

@media screen and (max-width: 440px) {
    .details {
        height: 15rem;
    }
}